td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 150px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
.kevin { 
background-color: orangered;
}

.kleur {
    background-color: pink;
}
.blauw
{
    background-color: pink;
}
.lichtblauw
{
    background-color: blue;
}
.lichtblauww
{
    background-color: blue;
}
.kb
{
    background-color: pink;
}
.bk
{
    background-color: blue;
}
.ab
{
    background-color: yellow

}
.cd
{
    background-color: yellow
}
.ef
{
    background-color: yellow
}
.gh
{
    background-color: pink
}
.ij
{
    background-color: blue
}
.kl 
{
    background-color: yellow
}
.mn
{
    background-color: yellow
}
.op
{
    background-color: yellow
}

    
    